.welcome-text, .welcome-text tspan {
    font-size: 28px;
    font-family: sans-serif;
    fill: #abc;
    text-anchor: middle;
}

.node-text, .node-text tspan {
    /*font-size: 36px;*/
    font-family: sans-serif;
    fill: #abc;
    text-anchor: middle;
    cursor: default;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
